.product-modal {
    position: fixed;
    border-radius: 12px;
}

.product-modal-window {
    text-align: center;
    overflow-y: scroll;
    background-color: white;
    width: 700px;
    height: 600px;
}
